@import '../variables.scss';

.container {
  width: 90%;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .newsListContainer {
    border: 1px solid #edede9;
    border-radius: $border-radius;
    overflow-y: scroll;
  }

  .formContainer {
    margin: 12px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .input {
      border: 1px solid #edede9;
      border-radius: $border-radius;
      padding: 6px;

      &:focus-visible {
        outline: none;
      }
    }
  }
}

